.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding-top: clamp(2rem, 15vh, 10rem);
    gap: calc(var(--space) * 1.5);
}

.main-title {
    cursor: pointer;
    transition: 1s ease-in-out;
}

.main-title:hover {
    transform: translate(0, -2rem) scale(1.2);
    color: var(--text-color);
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap: var(--space);
    border: 2px solid var(--accent-color);
    width: clamp(10rem, 60vw, 100%);
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding-top: var(--space);
    animation: Neon-box-shadow 2s ease-in-out infinite, Neon-text-shadow 2s ease-in-out infinite;
    backdrop-filter: blur(2.7px);
    transform: translateY(10rem);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out;
}

.box.show {
    opacity: 1;
    transform: translateY(-2rem);
}

@media (prefers-reduced-motion: reduce) {
    .box {
        transition: none;
    }
}


.box__item--link {
    cursor: pointer;
}

.box__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.box__item:hover {
    transform: translate(0, calc(var(--text-font-size) * -.5)) scale(1.2);
    color: var(--accent-color);
}