html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/sky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: var(--main-font-family);
    font-size: var(--text-font-size);
    display: grid;
    justify-content: center;
    scroll-behavior: smooth;
}

.section {
    display: flex;
    justify-content: center;
}

.container {
    width: min(90%, 1200px);
}

.title {
    color: var(--accent-color);
    font-family: var(--accent-font-family);
    font-size: calc(var(--title-font-size) *.8);
    text-shadow: var(--shadow);
    animation: Neon-text-shadow 2s ease-in-out infinite;
    padding-bottom: var(--space);
}

ul {
    list-style: none;
}

select,
button {
    cursor: pointer;
}

input,
select,
button {
    color: var(--accent-color);
    font-size: inherit;
    border-radius: var(--border-radius);
    text-align: center;
    font-family: var(--title-font-family);
    box-shadow: var(--shadow);
    animation: Neon-box-shadow 2s ease-in-out infinite;
    transition: .2s;
}

input:hover,
select:hover,
button:hover {
    color: var(--text-color);
    background-color: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}